.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.1 1fr 0.1fr 0.1fr;
}
.stats-cards-wrapper {
  grid-column-start: 3;
  grid-column-end: 11;
  background-color: #ffffff;
  padding: 20px 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stats-card {
  width: 120px;
  height: 50x;
  border-right: 2px solid #004850;
  border-radius: 0px 40px 0px 0px;
  border-top: 3px solid #004850;

  text-align: center;
  padding: 10px 20px;
}

.stats-card__content {
  margin: auto;

  color: #004850;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-card__content-icon {
  font-size: 18px;
}
.stats-card__content-text {
  margin-top: 12px;
  font-size: 14px;
}

.bottom-menu {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*.hit-btn {
  background-color: #57a913;
}

.hit-btn:hover {
  background-color: #539b18;
  transition: 0.5s;
}*/

.game-wrapper {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

.playerlist {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 2;
  width: 100%;
  height: 600px;
  border: 1px solid #000000;
}

.canvas-game {
  width: 100%;
  height: 600px;
  border: 1px solid #000000;
}
